@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
        @if (_installAvailable)
        {
            <button class="btn btn-sm btn-outline-light"
                    @onclick="InstallApp">
                Install App
            </button>
        }        
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    @inject IJSRuntime JS

    private bool _installAvailable;
    private IJSObjectReference? _installModule;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        _installModule = await JS.InvokeAsync<IJSObjectReference>(
            "import", "./install.js");

        _installAvailable = await _installModule.InvokeAsync<bool>("initInstallPrompt");

        StateHasChanged();
    }

    private async Task InstallApp()
    {
        if (_installModule is not null)
            await _installModule.InvokeVoidAsync("showInstallPrompt");
    }
}
